<!-- finalizar_juego.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Juego</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>¡Juego finalizado!</h1>
    <p>Gracias por jugar. Tu puntaje acumulado es: {{ jugador_temporal.puntaje }}</p>

    <!-- Mostrar mensaje según la categoría de puntaje -->
    <p>{{ mensaje }}</p>

    <!-- Mostrar leaderboard -->
    <h2>Leaderboard</h2>
    <ul>
        {% for jugador in leaderboard %}
            <li>{{ jugador.nombre }} - {{ jugador.puntaje }}</li>
        {% endfor %}
    </ul>

    <!-- Botón para reiniciar el juego o regresar a la página de inicio -->
    <a href="{% url 'inicio' %}">Volver a jugar</a>
</body>
</html>
