<!-- trivia_app/templates/inicio.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <h2>¡Bienvenido a Aprende Verde!</h2>
    <div class='form-container'>
        <h3>Ingresa tu nombre para comenzar:</h2>
        <form method="post" action="{% url 'inicio' %}">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
            <input type="submit" value="Comenzar" class="start-btn">
        </form>
    </div>
</body>
</html>
